.member, .name-3gtcmp {
    background-color: #FF0000;
}

.member-username-inner {
    color: #000000 !important;
}

/*
.message-group .comment {
    background-color: #CC3333;
    color: #000000 !important;
}
*/

div.titleText-2IfpkV {
    background-color: #993333;
}
